.container {
  background-color: black;
}
h1 {
  text-align: center;
  /* color: white; */
}
p{
  color:white;
}
label {
  color: white;
  font-weight: bold;
  margin: 3px;
}
.form-div {
  background-color:dimgray;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 20px;
}
.ticket {
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}